@import url('./style/cabecalho.css');
@import url('./style/hero-banner.css');
@import url('./style/cards.css');
@import url('./style/cursos.css');

:root {
    --primary-color: #e6e6e6;
    --secondary-color: #09090c;
    --tertiary-color: #ED145B;
    --accent-color: #f3f3f3;

    --primary-font: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--primary-color);
    font-family: var(--primary-font, sans-serif);
    color: var(--secondary-color);
}

.link {
    font-weight: 700;
    transition: color 0.2s ease-in-out;
}

.link:hover,
#link--pagina-atual  {
    color: var(--tertiary-color);
}
