.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px;
    padding-bottom: 50px;
    gap: 50px;
    border-radius: 12px;
    background-color: var(--accent-color);
    opacity: .6;
    width: 256px;
    transition: opacity .2s ease-in;
}
.card > div {
    width: 256px;
}

.card:hover {
    opacity: 1;
}

.card__image {
    aspect-ratio: 1;
    border-radius: 12px;
    object-fit: contain;
    padding: 2rem;
}

.card__text {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.card__headline {
    font-size: 1.125rem;
    font-weight: 600;
}

.card__content {
    font-size: 0.875rem;
    color: #777;
}

.card__button {
    background: #3C3C43;
    color: #FFF;
    padding: 12px;
    border-radius: 10px;
    align-self: baseline;
    font-size: 0.875rem;
    transition: .2s ease-in-out;
}

.card__button:hover {
    background: var(--tertiary-color, --secondary-color);
}

.card-section {
    display: flex;
    flex-wrap: wrap;
    gap: 50px 20px;
    padding: 5rem 3.125rem;
    justify-content: center;
}
