.hero-banner {
    background-color: var(--secondary-color);
    color: #FFF;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 5rem 3.125rem;
}

#hero-banner-principal {
    background-image: url(/img/fiap-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-banner__title, 
.hero-banner__description {
    text-shadow: 2px 2px 5px #0000007a;
    width: 50%;
    line-height: 1.25em;
}

.hero-banner__title {
    font-size: 2.5rem;
    font-weight: 700;
}

.hero-banner__button {
    background-color: var(--tertiary-color);
    padding: 1rem 1.25rem;
    border-radius: 5px;
    width: fit-content;
}